<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Chicken Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let recipe of recipes" (click)="openDetails(recipe.idMeal)">

    <img [src]="recipe.strMealThumb" />

    <ion-card-header>
      <ion-card-title>
        {{ recipe.strMeal }}
      </ion-card-title>
    </ion-card-header>

  </ion-card>

</ion-content>