<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>🍗 Chicken Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "chicken-content">

  <ion-card class="item-card" *ngFor="let recipe of recipes" (click)="openDetails(recipe.idMeal)">

    <img [src]="recipe.strMealThumb" />

    <ion-card-header>
      <ion-card-title>{{ recipe.strMeal }}</ion-card-title>

      <ion-card-subtitle color="medium">
        Tap to view details
      </ion-card-subtitle>

    </ion-card-header>

  </ion-card>

</ion-content>