<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let meal of favourites">

    <img [src]="meal.strMealThumb" />

    <ion-card-header>
      <ion-card-title>
        {{ meal.strMeal }}
      </ion-card-title>
    </ion-card-header>

    <ion-button fill="outline" size="small" color="danger" (click)="removeFromFavourites(meal.idMeal)">
      ❌ Remove
    </ion-button>

  </ion-card>

</ion-content>