<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      🍽 Recipe Finder
    </ion-title>

    <ion-buttons slot="end">

      <ion-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="/favourites">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>

      <ion-button routerLink="/settings">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card button routerLink="/chicken">

    <img src="https://www.themealdb.com/images/category/chicken.png" />

    <ion-card-header>
      <ion-card-title>🍗 Chicken Recipes</ion-card-title>
      <ion-card-subtitle color="medium">
        Explore delicious chicken meals
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card button routerLink="/beef">

    <img src="https://www.themealdb.com/images/category/beef.png" />

    <ion-card-header>
      <ion-card-title>🥩 Beef Recipes</ion-card-title>
      <ion-card-subtitle color="medium">
        Explore tasty beef dishes
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card button routerLink="/seafood">

    <img src="https://www.themealdb.com/images/category/seafood.png" />

    <ion-card-header>
      <ion-card-title>🐟 Seafood Recipes</ion-card-title>
      <ion-card-subtitle color="medium">
        Explore fresh seafood meals
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card button routerLink="/favourites">

    <img src="https://www.themealdb.com/images/media/meals/58oia61564916529.jpg" />

    <ion-card-header>
      <ion-card-title>⭐ Favorites</ion-card-title>
      <ion-card-subtitle color="medium">
        Your saved recipes
      </ion-card-subtitle>
    </ion-card-header>

  </ion-card>

</ion-content>