<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="returnUrl"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ meal?.strMeal }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="details-content">

  <ion-card class="details-card">

    <img [src]="meal?.strMealThumb" />

    <ion-card-header>
      <ion-card-title>{{ meal?.strMeal }}</ion-card-title>
      <ion-card-subtitle>{{ meal?.strCategory }}</ion-card-subtitle>
    </ion-card-header>

  </ion-card>

  <ion-card class="details-card">

    <ion-card-header>
      <ion-card-title>🧾 Ingredients</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      @if (isIngredientsVisible) {
      <ion-button fill="outline" size="small" (click)="toggleIngredients()">
        Hide Ingredients
      </ion-button>
      } @else {
      <ion-button fill="outline" size="small" (click)="toggleIngredients()">
        Show Ingredients
      </ion-button>
      }

      @if (isIngredientsVisible) {
      @for (ing of ingredients; track ing) {
      <p class="ingredient">{{ ing }}</p>
      }
      }

    </ion-card-content>

  </ion-card>

  <ion-card class="details-card">

    <ion-card-header>
      <ion-card-title>📖 Instructions</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      @if (isInstructionsVisible) {
      <ion-button fill="outline" size="small" (click)="toggleInstructions()">
        Hide Instructions
      </ion-button>
      } @else {
      <ion-button fill="outline" size="small" (click)="toggleInstructions()">
        Show Instructions
      </ion-button>
      }

      @if (isInstructionsVisible) {
      <p class="instructions">
        {{ fullInstructions }}
      </p>
      } @else {
      <p class="instructions">
        {{ getShortInstructions() + '...' }}
      </p>
      }
    </ion-card-content>

  </ion-card>

  <ion-button expand="block" class="fav-btn" (click)="toggleFavourite()">
    {{ isFavourite ? '❤️ Remove from Favourites' : '🤍 Add to Favourites' }}
  </ion-button>



</ion-content>