<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>{{ meal?.strMeal }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <img [src]="meal?.strMealThumb" />

    <ion-card-header>
      <ion-card-title>{{ meal?.strMeal }}</ion-card-title>
      <ion-card-subtitle color="medium">
        {{ meal?.strCategory }} • {{ meal?.strArea }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <h3>
        <ion-icon name="restaurant-outline" color="warning"></ion-icon>
        Ingredients
      </h3>

      <ion-list>
        <ion-item *ngFor="let item of ingredients">
          {{ item }}
        </ion-item>
      </ion-list>

      <h3>
        <ion-icon name="list-outline" color="success"></ion-icon>
        Instructions
      </h3>

      <p>{{ meal?.strInstructions }}</p>

    </ion-card-content>

  </ion-card>


</ion-content>